.idea
# Don't give away security tokens
main/authorization/Authorizer.py
# Ignore all log files
main/logs/*.txt
# Ignore anki deck files used to sync
main/anki/output/*
# Ignore big pickled dictionary
main/translation/parse_dictionaries/apple_german_english.pickle