.idea
# Don't give away security tokens
main/server/authorization.py
# Ignore all log files
main/logs/2*
# Ignore anki deck files used to sync
main/anki/output/*
# Ignore big pickled dictionary
main/translation/parse_dictionaries/apple_german_english.pickle